.filter-block {
  padding: 30px 0;
  width: 590px;

  .reset-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: flex-end;
    h3 {
      font-size: 12px;
      color: #212a30;
      height: 18px;
      font-weight: bold;
      line-height: 18px;
      margin: 0;
    }
  }
}

.main-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  .inner-main-block {
    border: 1px solid #9ba8b0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    background-color: white;
    color: #192024;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px;
    height: 60px;
    min-width: 75px;
    margin-right: 4px;
    transition: 0.2s border-color ease-out;
    &:hover {
      background-color: transparent;
      border-color: #1f282d;
    }
  }
  .tooltip {
    position: relative;
    & .tooltiptext {
      display: none;
      max-width: 360px;
      width: auto;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      background-color: #1f282d;
      color: #f9fafb;
      box-shadow: 0 3px 6px rgb(25 32 36 / 16%), 0 -1px 4px rgb(25 32 36 / 4%);
      text-align: center;
      border-radius: 4px;
      padding: 16px;
      position: absolute;
      z-index: 2;
      bottom: 120%;
    }
    & .tooltiptext::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -11px;
      border-width: 11px;
      border-style: solid;
      border-color: #1f282d transparent transparent transparent;
    }
    &:hover .tooltiptext {
      display: block;
    }
  }

  .img-block {
    width: 48px;
    height: 32px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
.dropdown-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    padding-right: 8px;
  }
}
.svg {
  vertical-align: middle;
  height: 15px;
  width: 15px;
  line-height: 15px;

  .svg-image {
    fill: #192024;
  }
}

.position {
  position: relative;
}

#dropdown {
  display: none;
  &:checked + .more-block {
    display: block;
  }
}

.more-block {
  display: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  z-index: 3;
  position: absolute;
  top: 60px;
  left: 0;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(25 32 36 / 10%), 0 3px 6px rgb(25 32 36 / 4%),
    0 -3px 6px rgb(25 32 36 / 4%);
  animation-name: openMoreBox;
  animation-duration: 1s;
  .inner-more-block {
    padding: 8px 16px;
    margin: 0 -16px;
    min-width: 250px;
    max-width: 262px;
    width: 250px;
    font-weight: 400;
    line-height: 20px;
    transition: 0.2s background-color ease-out;
    &:hover {
      background-color: #f3f5f7;
    }
    label {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .first-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .input-wrapper {
          position: relative;
          display: flex;
          align-items: inherit;
          justify-content: inherit;
          border-width: 1px;
          border-style: solid;
          border-radius: 4px;
          background-color: #fff;
          border-color: #9ba8b0;
          line-height: 20px;
          white-space: nowrap;
          width: 16px;
          height: 16px;
          transition: border 200ms ease-in-out;
          input {
            cursor: pointer;
            margin: 0;
            opacity: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: visible;
          }
          input:checked + svg {
            fill: #079;
          }

          svg {
            fill: transparent;
            height: 14px;
            width: 14px;
            min-width: 14px;
            transition: fill 200ms ease-in-out;
          }
        }
        .img-block {
          padding-left: 8px;
          width: 48px;
          height: 32px;
          margin-right: 12px;
          img {
            width: auto;
            height: 100%;
            object-fit: contain;
          }
        }
        .text {
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 14px;
        }
      }
      .price {
        line-height: 32px;
        margin-left: 3px;
        font-size: 12.8px;
        color: #5a6872;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@keyframes openMoreBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
